<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_water_drop_large"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_water_drop_large"
        android:supportsRtl="true"
        android:theme="@style/Theme.HydrationTime"
        tools:targetApi="31">
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.HydrationTime.NoActionBar" />
        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:exported="false"
            android:theme="@style/Theme.HydrationTime.NoActionBar" /> <!-- SplashActivity - Point d'entrée de l'application -->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.HydrationTime.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- SignUpActivity -->
        <activity
            android:name=".ui.auth.SignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.HydrationTime.NoActionBar" /> <!-- MainActivity -->
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false" /> <!-- WorkManager -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>